In [3]:
a = 10
while a:
    a = a//2 # update
    print(a)

5
2
1
0

In [6]:
s = 'abcde'

for c in s:
    print(c)

a
b
c
d
e

In [7]:
# WHile Loop
# WAP to print first 10 natural numbers

i =1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [9]:
a = [1,2,3,4]
for data in a:
    print(data)

1
2
3
4

In [12]:
r1 = range(5) # range is kind of sequence
print(r1)
a = list(r1)
print(a)

for data in r1:
    print(data)

range(0, 5)
[0, 1, 2, 3, 4]
0
1
2
3
4

In [13]:
print( list(range(5,10)) )
print( list(range(5,10,2)) )

[5, 6, 7, 8, 9]
[5, 7, 9]

In [15]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [16]:
for  i in range(10):
    print(10 - i)

10
9
8
7
6
5
4
3
2
1

In [19]:
for i in range(5):
    print('*')

*
*
*
*
*

In [20]:
for i in range(5):
    print('*',end='')

*****

In [22]:
for i in range(5): # outer
    for j in range(5): # inner
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [23]:
for i in range(5): # outer
    for j in range(5): # inner
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4