In [ ]:
#find the output the following:

In [5]:
s='a b cd'
print(len(s))
print(s[::3])
print(len(s[::2]))

6
a
3

In [10]:
s='a#b#c#d#'
print(s.split())
print(s.split('#'))
l=s.split('#')
print(l)
s='$'.join(l)
print(s)

['a#b#c#d#']
['a', 'b', 'c', 'd', '']
['a', 'b', 'c', 'd', '']
a$b$c$d$

In [14]:
s='Gaurav'
s=s[::-2][::-2]
print(s)

av

In [12]:
print(1>2)

False

In [15]:
print(4%2,5%2,2%5,sep=',')

0,1,2

In [23]:
s='abcba'
s.lower()
print(s)
#print(s.count('A'),end=',')
#print(s.count('A',2,4),end=',')
#print(s.count('a',2,4)),end=',')

abcba

In [ ]:
#WAP to input a string and remove all space fromit.

In [25]:
w=input('enter the sting value')
w.strip()

enter the sting valueswetha

'swetha'

In [ ]:
#WAP toinput complete name and print fisrt and last name separately along with their length inupper case.

In [42]:
t=input('enter the first and last name')
z=t.replace(' ','\n')
t=z.upper()
print(t)
u=len(t)
print(u)

enter the first and last nameswetha r
SWETHA
R
8

In [ ]:
#WAP ti input a string and replace all space with new line(\n)and print again

In [43]:
i=input('enter the string value')
p=i.replace(' ','\n')
print(p)

enter the string valueswetha r
swetha
r

In [ ]:
#WAP toinput a string and split int into 2halves.

In [45]:
h=input('enter the value of a sting')
print("the original string is:"+ h)
s1,s2=h[:len(h)//2],h[len(h)//2:]
print("the first part of string:"+s1)
print("the second part of string:"+s2)

enter the value of a stingswetharajagopal
the original string is:swetharajagopal
the first part of string:swethar
the second part of string:ajagopal

In [ ]:
#WAP to print first n natural numbers.(input n from user)

In [2]:
k=int(input('enter the value of n'))
for i in range(1,k+1):
     print(i,end=' ')

enter the value of n6
1 2 3 4 5 6

In [ ]:
#WAP a program to input a number and print its square and cube.

In [5]:
b=int(input('enter the value of n'))
z=b*b
m=b*b*b
print(z)
print(m)

enter the value of n9
81
729

In [ ]:
#WAP to input a numbers M and N and print result of Mpower n

In [9]:
k=int(input('enter the value of m'))
g=int(input('enter the value of n'))
a=k**g
print(a)
print(pow(k,g))

enter the value of m9
enter the value of n3
729
729

In [ ]:
#WAP to input a number n and a number m and print the result

In [10]:
n=int(input('enter the value of n'))
m=int(input('enter the value of m'))
h=n**2+m**2
print(h)

enter the value of n2
enter the value of m3
13

In [ ]:
#Write a simple calculator

In [1]:
a=int(input('enter the value of a'))
b=int(input('enter the vallue of b'))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

enter the value of a3
enter the vallue of b5
8
-2
15
0.6
0

In [ ]:
#WAP to print sum of first n natural numbers.

In [14]:
d=int(input('enter the value of n'))
n=0
for i in range(1,d+1):
    n=n+i
  
print("the sum is:",n)

enter the value of n5
the sum is: 15

In [ ]:
#WAP to input 2 numbers and swap them.

In [1]:
s=int(input('enter the value of s'))
x1=int(input('enter the value of x1'))
print('value of s before swapping:',s)
print('value of x1 before swapping:',x1)
s,x1=x1,s
print('value of s after swapping:',s)
print('value of x1 after swapping:',x1)

enter the value of s123
enter the value of x1234
value of s before swapping: 123
value of x1 before swapping: 234
value of s after swapping: 234
value of x1 after swapping: 123

In [2]:
s=int(input('enter the value of s'))
x1=int(input('enter the value of x1'))
print('value of s before swapping:',s)
print('value of x1 before swapping:',x1)

temp=s
s=x1
x1=temp
print('value of s after swapping:',s)
print('value of x1 after swapping:',x1)

enter the value of s123
enter the value of x1234
value of s before swapping: 123
value of x1 before swapping: 234
value of s after swapping: 234
value of x1 after swapping: 123

In [ ]:
#WAP input a single character and print its ascii values

In [5]:
t=input('enter the value of string')

g=ord(t)
print("the ascii value of white spaces:",g)

enter the value of stringa
the ascii value of white spaces: 97

In [ ]:
#WAP that takes area of a circle and give back the radius and cicumference.

In [12]:
area=float(input('enter the area of circle'))
rad=area/3.14
radius=rad/2
print('the radius of circle:',radius)
circum=2*3.14*rad
print('the circumference of circle:',circum)

enter the area of circle5.67
the radius of circle: 0.9028662420382165
the circumference of circle: 11.34

In [11]:
#We need to input marks in 5 subjects out of 100 and print percentage.

In [7]:
f=int(input('enter the marks math'))
g=int(input('enter the marks of eng'))
l=int(input('enter the marks of hindi'))
k=int(input('enter the marks of kannada'))
f=int(input('enter the marks og bio'))
c=((f+g+l+k+g/500)*100)
print(c)

enter the marks math78
enter the marks of eng78
enter the marks of hindi89
enter the marks of kannada78
enter the marks og bio56
30115.600000000002

In [ ]:
#input temperature in Faherenheit in print in Celsius.

In [9]:
fah=input('enter temperature in Fahrenheit:')
fahrenheit=float(fah)
celsius=(fahrenheit-32)/1.8
print("tempertaure in celsius=",celsius)

enter temperature in Fahrenheit:56
tempertaure in celsius= 13.333333333333332